.cache/
.lighthouseci/
.expo/
.expo-shared/
.next/
.velite/
.swc/
.turbo/
coverage/
dist/
build/
e2e-report/
e2e-results/
out/
**/generated/**
**/_generated/**
**/storybook-static/**
**/**/storybook-static
**/**/build-storybook.log

.eslintcache
pnpm-lock.yaml

**/public/**

# PWA files
**/public/precache.*.*.js
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/fallback-*.js
**/public/precache.*.*.js.map
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
**/public/fallback-*.

storybook-static/